*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  cursor: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  cursor: pointer;
}
