<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Started template</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="wrapper">
	<header class="header">
		<div class="header__container">
			<a data-goto=".home" href="#" class="header__logo">One trust</a>
			<nav class="menu">
				<div class="menu__body">
					<ul class="menu__list">
						<li><a data-goto=".home" href="#" class="menu__link">Главная</a></li>
						<li><a data-goto=".about" href="#" class="menu__link">О Проекте</a></li>
						<li><a data-goto=".contacts" href="#" class="menu__link">Контакты</a></li>
						<li><a href="/login" class="menu__button button">Мой кабинет</a></li>
					</ul>
				</div>
				<button class="menu__icon" type="button"><span></span></button>
			</nav>
		</div>
	</header>
	<main class="page">
		<section class="home">
			<div class="home__container">
				<div class="home__content">
					<h1 class="home__title">Онлайн доверенности: Просто, Быстро и Безопасно.</h1>
					<div class="home__text">
						<p>
							Добро пожаловать на нашу платформу для онлайн доверенностей. У нас удобство и безопасность ваших документов в центре внимания. Создавайте, подписывайте и храните доверенности онлайн с легкостью, минимизируя бумажную волокиту.
						</p>
					</div>
					<div class="home__buttons">
						<a href="/login" class="home__button button button-bg">Приступить к оформлению</a>
						<a href="#" class="home__button button">Перейти в телеграм</a>
					</div>
				</div>
				<div class="home__images">
					<div class="home__column">
						<div class="home__item home__item-vertical"><img src="/images/home-item-1.jpg" alt="Image"></div>
						<div class="home__item home__item-horizontal"><img src="/images/home-item-2.jpg" alt="Image"></div>
					</div>
					<div class="home__column">
						<div class="home__item home__item-horizontal"><img src="/images/home-item-3.jpg" alt="Image"></div>
						<div class="home__item home__item-vertical"><img src="/images/home-item-4.jpg" alt="Image"></div>
					</div>
				</div>
			</div>
		</section>

		<section class="about">
			<div class="about__container">
				<h2 class="about__title">О Проекте</h2>
				<div class="about__text">
					Наш проект — это революционный подход к оформлению доверенностей. Мы разработали инновационную платформу, чтобы упростить и ускорить процесс создания и управления вашими юридическими документами. Наша цель - сделать этот процесс максимально удобным и безопасным для вас.
				</div>
			</div>
		</section>

		<section class="contacts">
			<div class="contacts__container">
				<h2 class="contacts__title">Наши контакты</h2>
				<div class="contacts__column">
					<h3 class="contacts__title-sub">Телефон</h3>
					<a href="tel:+996757557557">0 757 55-75-57</a>
					<h3 class="contacts__title-sub">Email</h3>
					<a href="mailto:ebaletovse@pizdarulyam">ashim030312@gmail.com</a>
				</div>
			</div>
		</section>

	</main>
	<footer class="footer">
		<a href="#">Все права защищены! 2023 &copy</a>
	</footer>
</div>
<script src="/js/main.js"></script>
</body>
</html>