<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Started template</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div class="wrapper">
			<header class="header">
				<div class="header__container">
					<a href="#" class="logo">One trust</a>
					<nav class="menu">
						<div class="menu__body">
							<ul class="menu__list">
								<li><a href="#" class="menu__link">Главная</a></li>
								<li><a href="#" class="menu__link">О Проекте</a></li>
								<li><a href="#" class="menu__link">Контакты</a></li>
								<li>
									<button class="menu__button button">Мой кабинет</button>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<main class="page">
        <section class="home">
           <div class="home__container">
              <div class="home__content">
                <h1 class="home__title">Далеко-далеко за словесными горами в стране.</h1>
                <p class="home__text">
                  Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Строчка собрал эта снова взобравшись рукописи предложения реторический свой языкового вдали агентство текста одна, родного живет продолжил ты от всех моей.
                </p>
                <div class="home__buttons">
                  <a href="" class="home__button button">Get started</a>
                  <a href="" class="home__button button">Get started</a>
                </div>
                
              </div>
              <div class="home__image">
                <img src="/images/intro.jpg" alt="">
              </div>
           </div>
        </section>
        <section class="about">
          <div class="about__container"></div>
        </section>
      </main>
			<footer class="footer"></footer>
		</div>
		<script src="/js/main.js"></script>
	</body>
</html>
