<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="profile">
    <header class="header">
        <div class="header__container">
            <a href="/" class="header__logo">One trust</a>
            <form th:action="@{/logout}" th:method="post" class="button">
                <button type="submit">Выход</button>
            </form>
        </div>
    </header>
    <div class="profile__body">
        <div class="profile__image"><img src="/images/Emblem_of_Kyrgyzstan.svg" alt="Герб"></div>
        <h2 class="profile__title">Приступить к оформлению.</h2>
        <div class="profile__buttons">
            <a href="/truster" class="button">Доверитель</a>
            <a href="/trusted" class="button">Доверенное лицо</a>
        </div>
    </div>
</div>
</body>
</html>