<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="trusted">
    <h2 class="trusted__title-big">Оформление Доверенности</h2>
    <div class="trusted__body">
        <h3 class="trusted__title">
            Доверенное лицо <br>
            <span>(Кому доверяют)</span>
        </h3>
        <form action="" class="trusted__form">
            <label>Доверенное лицо ФИО<input type="text" name="trusted-name"></label>
            <label>Доверитель ФИО<input type="text" name="truster-name"></label>
            <div class="trusted__form-block">
                <label>ИНН<input type="text" name="inn"></label>
                <label>КПП<input type="text" name="kpp"></label>
                <label>ОКЛО<input type="text"name="oklo"></label>
            </div>
            <label>Адрес<input type="text" name="address"></label>
            <div class="trusted__form-block">
                <label>Имя собственности<input type="text" name="name"></label>
                <label>Государственный номерной знак<input type="text" name="number"></label>
            </div>
            <div class="trusted__form-block">
                <label>Год выпуска<input type="text" name="year"></label>
                <label>Цвет<input type="text" name="color"></label>
            </div>
            <div class="trusted__form-block">
                <label>Кузов<input type="text" name="body"></label>
                <label>Идентификационный номер<input type="text" name="id-number"></label>
            </div>
            <label>Срок действия<input type="date" name="date"></label>
        </form>
    </div>
</div>
</body>
</html>